@model IEnumerable<PPCRental.Models.PROPERTY>
@using PPCRental.Models;
@{
    K21T1_Team3Entities db = new K21T1_Team3Entities();
    List<PROPERTY_TYPE>
        prop = new List<PROPERTY_TYPE>
            ();
    prop = db.PROPERTY_TYPE.ToList();
}
<div class="main">
    <div class="container-fluid homeheader_bg parallax-window-home">
        <div class="container content-header">
            <div class="row fullwidth_bg">
                <div class="container text-center">
                    <img class="img-Logo" src="~/Images/Logomain.png" alt="PPC-RENTAL-LOGO">
                </div>
            </div>
            <div class="row fullwidth_bg row-combobox row-combobox-bg">
                <div class="container">
                    <form action="@Url.Action("Filter","Home")" method="post" role="search">
                        <div class="row row-combobox">
                            <div class="col-md-4">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-university" aria-hidden="true"></i></span>
                                    @Html.DropDownList("Quan_ID", new SelectList(db.DISTRICTs, "ID", "DistrictName"), "Chọn Quận", new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-money" aria-hidden="true"></i></span>
                                    <select class="form-control" name="price">
                                        <option selected disabled>Giá</option>
                                        <option value="1">Dưới 1.000.000.000 VNĐ</option>
                                        <option value="2">Từ 1.000.000.000 VNĐ đến 3.000.000.000 VNĐ</option>
                                        <option value="3">Từ 3.000.000.000 VNĐ đến 5.000.000.000 VNĐ</option>
                                        <option value="4">Trên 5.000.000.000 VNĐ</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-bed" aria-hidden="true"></i></span>
                                    <select class="form-control" name="bathroom">
                                        <option selected disabled>Phòng ngủ</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-home" aria-hidden="true"></i></span>
                                    @Html.DropDownList("PropertyType", new SelectList(db.PROPERTY_TYPE, "ID", "Description"), "Chọn loại bất động sản", new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-key" aria-hidden="true"></i></span>
                                    <input id="search" type="text" class="form-control" name="propname" placeholder="Tên dự án">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <button type="submit" class="btn btn-danger">Tìm Kiếm</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="parallax-selector"></div>
    <div class="container-fluid content">
        <div class="container">
            <div class="quote">
                <img class="banner-img-1" src="~/Images/quote-1.png" alt="quote-1.png">
                <quote class="quote-content">
                    <p>"Nhà là nơi không chỉ có 4 bức tường mà là những nơi trái tim cùng chung nhịp điệu"</p>
                    <div class="hr-center">
                        <hr>
                    </div>
                    <cite>Sưu tầm</cite>
                </quote>
                <div class="img-bottom hidden-xs">
                    <img src="~/Images/cutoff.svg" alt="">
                </div>
            </div>
            <div class="parallax-selector"></div>
            <section>
                <div class="section-header text-center">
                    <h1 class="heading is-section">Danh sách dự án</h1>
                </div>
                @*<div class="container Featured-Sales">
                *@
                <div class="row-md4-content">
                    @{ int count = 0; }
                    @{ foreach (var item in Model)
                        {
                            <div class="col-md-4 item-content">
                                <a href='/ViewDetailOfProjectUser/ViewDetailOfProject/@item.ID'>
                                    <div class="row outside-img">
                                        <img class="img-responsive" src="~/Images/@item.Avatar" alt="">
                                        <img class="img-responsive img-last" src="~/Images/nha1.2.jpg" alt="">
                                    </div>
                                    <div class="list-img-banner">Mới</div>
                                    <div class="content-project">
                                        <h3 style="color:black">@item.PropertyName<br />@item.DISTRICT.DistrictName</h3>
                                        <p style="color:black">@item.Price @item.UnitPrice<br />@item.PROPERTY_TYPE.Description</p>
                                    </div>
                                </a>
                            </div>
                            count++;
                            if (count >= 6)
                            {
                                break;
                            }
                        }
                    }
                    <a class="button-all-sale" href="">Xem Thêm</a>
                </div>
            </section>
        </div>
        <div class="parallax-selector"></div>
        <section>
            <div class="caption section-header text-center">
                <h1 class="heading is-section">Loại Dự Án</h1>
            </div>
            <div class="row row-collections">
                @{
                    var dem = 0;
                }
                @foreach (var item in prop)
                {
                    <a href="@Url.Action("ViewListOfProjectUser", "ViewListOfProject", new { typeid = @item.ID })">
                        <div class="col-md-4 md4-img">
                            <img src="~/Images/big1.jpg" alt="">
                            <div class="nenmo"></div>
                            <div class="inner-md4-img">
                                <div class="chuto">@item.CodeType</div>
                                <div class="chunho"></div>
                            </div>
                        </div>

                    </a>
                }
                @*<a href="">
                        <div class="col-md-4 md4-img">
                            <img src="~/Images/big4.jpg" alt="">
                            <div class="nenmo"></div>
                            <div class="inner-md4-img">
                                <div class="chuto">Chưng cư</div>
                                <div class="chunho"></div>
                            </div>
                        </div>
                    </a>
                    <a href="">
                        <div class="col-md-4 md4-img">
                            <img src="~/Images/big3.jpg" alt="">
                            <div class="nenmo"></div>
                            <div class="inner-md4-img">
                                <div class="chuto">Villa</div>
                                <div class="chunho"></div>
                            </div>
                        </div>
                    </a>*@
                @*
                    </div>
                    <div class="row row-collections">
                *@
                @*<a href="">
                        <div class="col-md-4 md4-img">
                            <img src="~/Images/big5.jpg" alt="">
                            <div class="nenmo"></div>
                            <div class="inner-md4-img">
                                <div class="chuto">Khu đô thị</div>
                                <div class="chunho"></div>
                            </div>
                        </div>
                    </a>
                    <a href="">
                        <div class="col-md-4 md4-img">
                            <img src="~/Images/big6.jpg" alt="">
                            <div class="nenmo"></div>
                            <div class="inner-md4-img">
                                <div class="chuto">Nhà sân vườn</div>
                                <div class="chunho"></div>
                            </div>
                        </div>
                    </a>
                    <a href="">
                        <div class="col-md-4 md4-img">
                            <img src="~/Images/big7.jpg" alt="">
                            <div class="nenmo"></div>
                            <div class="inner-md4-img">
                                <div class="chuto">Khách sạn</div>
                                <div class="chunho"></div>
                            </div>
                        </div>
                    </a>*@
            </div>
        </section>
    </div>

    <div class="parallax-selector"></div>
    <div class="container-fluid on-bg-behind-content">
        <div class="row behind-content">
            <img class="behind-content" src="~/Images/behind-content.jpg" alt="">
            <div class="fullwidth_bg content-on-bg-behind">
                <h2>Foirfeachta Villa</h2>
                <a class="button-all-learnmore" href="">Xem thêm</a>
            </div>
            <div class="img-bottom hidden-sm hidden-xs">
                <img class="img-bottom-behind-content" src="~/Images/cutoff.svg" alt="">
            </div>
        </div>
    </div>
    <div class="parallax-selector hidden-lg hidden-md"></div>
    <div class="container-fluid fluid-gancuoi">
        <div class="container container-gancuoi">
            <div class="row row-gancuoi">
                <div class="section-header text-center">
                </div>
                <div class="col-md-4">
                    <figure>
                        <blockquote>
                            <p></p>
                        </blockquote>
                        <figcaption></figcaption>
                    </figure>
                </div>
                <div class="col-md-4">
                    <figure>
                        <blockquote>
                            <p></p>
                        </blockquote>
                        <figcaption></figcaption>
                    </figure>
                </div>
                <div class="col-md-4">
                    <figure>
                        <blockquote>
                            <p></p>
                        </blockquote>
                        <figcaption></figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>
    <div class="parallax-selector"></div>
</div>

@section Scripts {
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

    <script>
        $('#Quan_ID').select2();
    </script>

}