@using PPCRental.Models;
@model PPCRental.Models.PROPERTY
@{
    team13Entities db = new team13Entities();
    List<PROPERTY_TYPE> prop = new List<PROPERTY_TYPE>();
    prop = db.PROPERTY_TYPE.ToList();
}
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Agency/Views/Shared/AgencyLayout.cshtml";
    //var nguyen = ViewData["District"];
}
@using (Html.BeginForm("Create", "PropertyAgency", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<div class="container signup-form">
    <div class="title-table">
        <h1>Đăng mới dự án bất động sản</h1>
    </div>
    <div class="content-table">
        <table class="table">
            <tr>
                <td>
                    <p class="label">Tên dự án</p>
                </td>
                <td>
                    @Html.TextBoxFor(x => x.PropertyName, new { @class = "propname"})
                </td>
            </tr>
            <tr>
                <td>
                    <p class="label">Ảnh đại diện</p>
                </td>
                <td>
                    <input type="file" name="Avatar" accept="image/*"/>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="label">Ảnh dự án</p>
                </td>
                <td>
                    <input type="file" accept="image/*" name="Image" multiple>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="label">Loại dự án</p>
                </td>
                <td>
                    @Html.DropDownListFor(x => x.PropertyType_ID, new SelectList(db.PROPERTY_TYPE, "ID", "Description"), "Chọn loại dự án" , new { @class = "post-prototype" })
                </td>
            </tr>
            <tr>
                <td>
                    <p class="label">Quận</p>
                </td>
                <td>
                    @Html.DropDownListFor(x => x.District_ID, new SelectList(db.DISTRICTs, "ID", "DistrictName"), "Chọn Quận" , new { @class = "input-district" })
                </td>
            </tr>
            <tr>
                <td>
                    <p class="label input-ward">Phường</p>
                </td>
                <td>
                    @Html.DropDownListFor(x => x.Ward_ID, new SelectList(db.WARDs, "ID", "WardName"), "Chọn Phường", new { @class = "input-ward" })
                </td>
            </tr>
            <tr>
                <td>
                    <p class="label">Đường</p>
                </td>
                <td>
                    @Html.DropDownListFor(x => x.Street_ID, new SelectList(db.STREETs, "ID", "StreetName"), "Chọn Đường", new { @class = "input-street" })
                </td>
            </tr>
            <tr>
                <td>
                    <p class="label">Giá</p>
                </td>
                <td>
                    <input class="input" type="text" name="price" placeholder="Nhập giá">
                </td>
            </tr>
            <tr>
                <td>
                    <p class="label">Đơn vị tiền tệ</p>
                </td>
                <td>
                    <input class="input" type="text" name="unitprice" placeholder="Đơn vị tiền tệ">
                </td>
            </tr>
            <tr>
                <td>
                    <p class="label">Diện tích</p>
                </td>
                <td>
                    <input class="input" type="text" name="area" placeholder="Nhập diện tích">
                </td>
            </tr>
            <tr>
                <td>
                    <p class="label">Số phòng ngủ</p>
                </td>
                <td>
                    <select class="input" name="bedroom">
                        <option selected disabled>Số phòng ngủ</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="label">Số phòng tắm</p>
                </td>
                <td>
                    <select class="input" name="bathroom">
                        <option selected disabled>Số phòng tắm</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="label">Chỗ đậu xe</p>
                </td>
                <td>
                    <select class="input" name="packingplace">
                        <option selected disabled>Số chỗ đậu xe</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="label">Tiện ích</p>
                </td>
                <td>
                    <div class="col-md-4 chk-feature" style="padding-left: 0px; padding-right: 0px;">
                        <div class="checkbox">
                            <label><input type="checkbox" value="1" name="chkfeature">Ban công</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" value="5" name="chkfeature">Phòng tập gym</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" value="9" name="chkfeature">Hồ bơi</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" value="11" name="chkfeature">Bảo vệ</label>
                        </div>
                    </div>

                    <div class="col-md-4 chk-feature" style="padding-left: 0px; padding-right: 0px;">
                        <div class="checkbox">
                            <label><input type="checkbox" value="2" name="chkfeature">Chỗ đậu xe</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" value="6" name="chkfeature">Nhà bếp</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" value="10" name="chkfeature">Sàn gỗ</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" value="8" name="chkfeature">Cho nuôi thú cưng</label>
                        </div>
                    </div>

                    <div class="col-md-4 chk-feature" style="padding-left: 0px; padding-right: 0px;">
                        <div class="checkbox">
                            <label><input type="checkbox" value="3" name="chkfeature">Thang máy</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" value="7" name="chkfeature">Phòng giặt ủi</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" value="4" name="chkfeature">Vườn</label>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="label">Mô tả chi tiết dự án</p>
                </td>
                <td>
                    @*<textarea rows="7" cols="41" name="detail" placeholder="Nhập mô tả chi tiết dự án" style="border-radius: 7px;">(x =></textarea>*@
                    <input class="input" type="text" name="content" />
                </td>
            </tr>
        </table>
    </div>
    <div class="button-area">
        <button type="submit" style="background-color: #56bc55">Đăng dự án</button>
        <button style="background-color: #f6b049">Lưu nháp</button>
        <button style="background-color: #d5564d"><a href="~/Agency/PropertyAgency/IndexAgency">Hủy</a></button>
    </div>
</div>
}
